@import 'variables';
.episodeList {
  width: 100%;
  height: 100%;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.episodeListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 1.5em;
  border: 1px solid white;
  color: white;
}

.episodeListActionItems {
  display: flex;
}

.episodeListButton {
  background-color: black;
  color: $philo-blue;
  font-size: .8em;
  text-transform:uppercase;
  margin: 1em 1em 0 0;
  outline: none;
  border-color: $philo-blue;
  cursor: pointer;
}
